<!DOCTYPE html>
<html lang="en" ng-app="hipstrchat">
<head>
  <meta charset="UTF-8">
  <title>HipsterChat</title>
  <!-- bower:css -->
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/css/style.min.css">
  <!-- endinject -->
</head>
<body>
  <!-- <input type="text" ng-model="hello"> -->

<!--   <div class="{{ hello }}" ng-show="false">
    {{ hello | currency  }}
  </div>

  <div ng-controller="AppCtrl">
    {{ title }}
    <ul>
      <li ng-repeat="hero in heroes">
        {{ hero }}
      </li>
      <div class="button" ng-click="buttonClicked()">
        Click Me
      </div>
    </ul>
  </div> -->

  <div class="container">
    <div class="header" ng-controller="HeaderCtrl">
      {{ title }}
    </div>
    <div class="sidebar" ng-controller="SidebarCtrl">
      {{ title }}
      <ul>
        <li ng-repeat="user in users">{{ user.nickname }}</li>
      </ul>
    </div><div class="messages" ng-controller="MessagesCtrl">
      {{ title }}
    </div>
  </div>

  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-mocks/angular-mocks.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="/js/app.js"></script>
  <script src="/js/coltrollers.js"></script>
  <!-- endinject -->
</body>
</html>